# C++23 Standard
Standard: c++23

# Allgemeine Formatierungen und Stilregeln
AccessModifierOffset: -4
AlignAfterOpenBracket: Align
AlignTrailingComments: true
AllowShortIfStatementsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: None
BraceWrapping:
  AfterClass: true
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: true
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeBraces: Custom
BreakBeforeTernaryOperators: true
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 4
Cpp11BracedListStyle: true
FixNamespaceComments: true
IndentCaseLabels: false
IndentWidth: 4
PointerAlignment: Left
ReflowComments: true
SortIncludes: true
SpacesInParentheses: false
UseTab: Never
ColumnLimit: 100  # Begrenzung auf 100 Zeichen für bessere Lesbarkeit
BinPackArguments: true
BinPackParameters: true
